# --------------------------------
# Ignore Everying Globally First 
# --------------------------------
/*

# ---------------
# Things Needed 
# ---------------
!/vim
!/vim/bundle/Vundle.vim
!/vim/neosnippets
!/vim/snippets
!LICENSE
!link
!README.md
!vimrc
!vimrc.bundles
!vimrc.defaults
# ---------------

# Ignore Bundles
# ---------------
/vim/bundle/*
